<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common/header"></th:block>
    <title>테스트 결과 | 상식 테스트</title>
    <meta name="description" content="테스트 결과를 확인하고 당신의 상식 수준을 알아보세요.">
    <meta name="keywords" content="상식 테스트 결과, 상식 수준, 테스트 점수, 상식 퀴즈">
    <meta property="og:title" content="테스트 결과 | 상식 테스트">
    <meta property="og:description" content="테스트 결과를 확인하고 당신의 상식 수준을 알아보세요.">
</head>
<body>
<th:block th:include="common/headBar"></th:block>
    <div class="intro">
        <h1 class="main-title">상식 테스트 결과</h1>
    </div>

    <div class="icon-container">
        <a id="btnTwitter" class="link-icon twitter" href="javascript:shareTwitter();"></a>
        <a id="btnFacebook" class="link-icon facebook" href="javascript:shareFacebook();"></a>
        <a id="btnKakao" class="link-icon kakao" href="javascript:shareKakao();"></a>
    </div>

    <div class="container-quiz">
        <h3 th:text="'총 10문제 중 ' + ${score} + '문제를 맞추셨습니다!'"></h3>
        <h3 th:text="${grade}"></h3>
        <p th:text="${message}"></p>
        <button onclick="window.location.href='/quiz'" class="button-quiz">다시 시작하기</button>
    </div>
<th:block th:include="common/footer"></th:block>

<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function() {
        // URL에서 점수 가져오기
        var urlParams = new URLSearchParams(window.location.search);
        var score = urlParams.get('score');

        // 총 문제 수 및 결과 메시지 설정
        var totalQuestions = 10;
        var resultMessage = `총 ${totalQuestions}문제 중 ${score}문제를 맞추셨습니다!`;
        document.getElementById("result-message").textContent = resultMessage;
    });

    function shareTwitter() {
        var sendText = "상식 테스트";
        var sendUrl = "https://binary96.store/quiz";
        window.open("https://twitter.com/intent/tweet?text=" + sendText + "&url=" + sendUrl);
    }

    function shareFacebook() {
        var sendUrl = "https://binary96.store/quiz";
        window.open("http://www.facebook.com/sharer/sharer.php?u=" + sendUrl);
    }

    function shareKakao() {
        Kakao.init('8b68c737be6b8e9a8007c61ee6f9b8da');

        // 카카오링크 버튼 생성
        Kakao.Share.createDefaultButton({
            container: '#btnKakao',
            objectType: 'feed',
            content: {
                title: '상식테스트',
                description: '친구들과 경쟁해보세요~',
                imageUrl: 'https://binary96.store/quiz',
                link: {
                    mobileWebUrl: 'https://binary96.store/quiz',
                    webUrl: 'https://binary96.store/quiz'
                },
            },
        });
    }

</script>
</body>
</html>